{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block div %}
<div id="main">
    <div id="caption">
        <h3>Tabs & <br> Tutorials <br> at your fingertips</h3>
    </div>
    <div id="inputs">
        <form action="/submit" method='post' enctype="multipart/form-data">
            <label for="mp3">Upload mp3 for Tabs:</label>
            <br>
            <input type="file" id="mp3" name="mp3" accept=".mp3"/>
            <br>
            <label for="song">Search Song for Tutorials:</label>
            <br>
            <input type="text" id="song" name="song">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}