<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playball&display=swap" rel="stylesheet">
    <title>GuitarMe</title>
</head>

<body>
    <header><h1>GuitarMe</h1></header>
    <hr>
    <div id="main">
        <div id="caption">
            <h3>Tabs & <br> Tutorials <br> at your fingertips</h3>
        </div>
        <div id="inputs">
            <form action="/submit" method='post' enctype="multipart/form-data">
                <label for="mp3">Upload mp3 for Tabs:</label>
                <br>
                <input type="file" id="mp3" name="mp3" accept=".mp3"/>
                <br>
                <label for="song">Search Song for Tutorials:</label>
                <br>
                <input type="text" id="song" name="song">
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>